@charset "utf-8";
/* CSS Document */

.post{
	margin-top:2%;
	position:relative;
	text-align:left;
	left:3%;
}
	
.box{
	width:110%;
	border:1px solid lightgrey;
	padding:2%;
	margin:2%;
	}	
	
.box h1 a{
	color:black;
	text-decoration:none;
	font-size:50px;
	font-family:Copperplate Gothic;
	}
	
.box h1 a:hover{
	color:#267b9c;
	}
	
.box pre{
	padding-top:2%;
	font-size:20px;
	padding-bottom:2%;
	
	}
.box p{
	padding-bottom:3%;
}

.box h5{
	float:right;
    color:rgba(43,71,239,1.00);
	}
	
.dbox{
	text-align:center;
	width:23%;
	height:192px;
	border:1px solid lightgrey;
	position:absolute;
	top:71.5%;
	left:75%;
	background-image:url(../img/ctmwelcome_e0.gif);
	}
	

