@charset "utf-8";
/* CSS Document */
.belt{
	width:15%;
	border:1px solid black;
	margin-top:10px;
	}
.belt a{
	padding:5%;
	}

#log{
	float:right;
	
	}

.input{
	
	padding:2%;
	width:50%;
	min-height:350px;
	position:relative;
	
	}
.input input{
	text-align:center;
	width:100%;
	height:30px;
	margin:2%;}

textarea{
	text-align:center;
	width:100%;
	height:150px;
	position:relative;
	left:2%;}
