@charset "utf-8";
/* CSS Document */


.box{
	position:relative;
	top:30px;
	width:40%;
	height:100px;
	background-color:rgba(80,240,98,.70);
	border-radius:10px 10px 10px 10px;
	-moz-box-shadow: 5px 5px 5px #99CCFF;
    -webkit-box-shadow: 5px 5px 5px #99CCFF ;
     box-shadow: 10px 8px 15px #99CCFF;
	
	}
.box h2{
	position:absolute;
	top:15px;
	font-family:advent-pro;
	font-size:24px;
	color:rgba(17,4,61,.70);
	left:40%;
	
	}

.box1{
	position:absolute;
	width:70%;
	height:350px;
	background-color:rgba(121,127,247,.5);
	left:16%;
	top:50px;
	border-radius:0px 0px 5% 5%;
	
	
	}
.box1 img{
	width:80px;
	position:relative;
	top:30px;
	height:80px;
	background-color:rgba(134,225,240,.60);
	border-radius:10%;
	}
	
.box1 input{
	position:relative;
	top:40px;
	width:80%;
	text-align:center;
	font-family:damion;
	border-radius:5%;
	height:30px;
	margin:10px;
	border-radius:20px;
	
	}
pre{
	color:red;}	
	
.foot{
	position:relative;
	top:350px;
	}