@charset "utf-8";
/* CSS Document */

.belt{
	width:5%;
	border:1px solid black;
	margin-top:10px;
	}
.belt a{
	padding:5%;
	}

.post{
	margin-top:2%;
	position:relative;
	text-align:left;
	
}
	
.box{
	width:110%;
	border:1px solid lightgrey;
	padding:2%;
	margin:2%;
	}	
	
.box h1 a{
	color:black;
	text-decoration:none;
	font-size:50px;
	font-family:Copperplate Gothic;
	}
	
.box h1 a:hover{
	color:#267b9c;
	}
	
.box pre{
	padding-top:2%;
	font-size:20px;
	padding-bottom:2%;
	
	}
.box p{
	padding-bottom:3%;
}

.box h5{
	float:right;
    color:rgba(43,71,239,1.00);
	}
	
.dbox{
	padding:5px;
	width:22%;
	height:180px;
	position:absolute;
	border:1px solid lightgrey;
	top:478px;
	left:75%;
	background-image:url(../img/ctmwelcome_e0.gif);
	text-align:center;
	}
	

