@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	}

.header{
	width:100%;
	height:450px;
	position:relative;
	background-image:url(../img/home-bg.jpg);
	background-position:top;
	
	}
.logo{
	width:100%;
	height:60px;
	
	background-color:rgba(106,101,101,.6);
	}	

.logo pre{
	position:absolute;
	top:10px;
	left:1%;
	color:skyblue;
	font-size:30px;
	
	}
.logo pre span{
	color:#a4bf3b;}	
	
.nav{
	position: absolute;
	float: right;
	left: 1050px;
	top: 17px;
	height: 25px;
	width: 299px;
	}
.nav ul li{
	display: inline;
	list-style:none;

	}
.nav ul li a{
	text-decoration:none;
	padding-left:2%;
	padding-right:2%;
	color:rgba(217,213,213,1.00);
	font-family:Courier;
	font-size:18px;	
	padding-bottom:7%;
	padding-top:8%;

	}
.nav ul li a:hover{
	font-size:18.5px;
	color:#fff;
	background-color:rgba(135,130,130,1.00);
	padding-bottom:7%;
	padding-top:8%;
	border-bottom:5px solid skyblue;
	
	}
	
.text h1{

	position:absolute;
	top:180px;
	left:35%;
	color:#fff;
	font-size:80px;}

.text p{
	width:20%;
	height:100px;
	position:absolute;
	top:270px;
	left:45%;
	color:#fff;
	font-size:25px;
	}

.footer{
	width:100%;
	padding-top:3%;
	height:100px;
	}

